.popup__input_avatar {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 358px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 35px;
}

@media screen and (max-width: 747px) {
    .popup__input_avatar {
        max-width: 238px;
    }
}