.card__image {
    object-fit: cover;
    height: 282px;
    width: 282px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: black;
    cursor: pointer;
}